@attribute [Authorize]

<div class="col-md-12">
    <RadzenLabel Text="Ошибка при удалении записи, проверьте наличие и содержание дочерних записей" Component="Name" style="width: 100%; text-align:center">
    </RadzenLabel>
    <div class="row footer">
        <div>
            <RadzenButton ButtonType="ButtonType.Button" Text="Закрыть" ButtonStyle="ButtonStyle.Danger" Click="@Close" style="width: 100%;">
            </RadzenButton>
        </div>
    </div>
</div>


