@inherits LayoutComponentBase
@attribute [Authorize]




<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <ChildContent>
        <RadzenHeader>
            <ChildContent>
                <div class="row justify-content-start align-items-center">
                    <div class="col-6 d-flex align-items-center">
                        <RadzenSidebarToggle Click="@SidebarToggleClick">
                        </RadzenSidebarToggle>
                        <RadzenLabel Text="Информационная система продуктового магазина">
                        </RadzenLabel>
                    </div>
                    <div class="col-6 text-right">
                    </div>
                </div>
            </ChildContent>
        </RadzenHeader>
        <RadzenBody @ref="body">
            <ChildContent>
                <RadzenContentContainer Name="main">
                    @Body
                </RadzenContentContainer>
            </ChildContent>
        </RadzenBody>
        <RadzenSidebar @ref="sidebar">
            <ChildContent>
                <RadzenPanelMenu style="height: 100%" Click="@NavMenuClicked">
                    <ChildContent>
                        <AuthorizeView>
                            <Authorized>
                                <RadzenPanelMenuItem Text="Профиль" Path="profile" Icon="account_circle">
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор, Отдел закупок, Отдел продаж, Работник склада">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Работа с товарами" Icon="loyalty">
                                    <RadzenPanelMenuItem Text="Категории" Path="category">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Продукты" Path="product" >
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="История склада" Path="storagehistory">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор, Отдел кадров">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Отдел кадров" Icon="account_box">
                                    <RadzenPanelMenuItem Text="Должности" Path="post">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Пользователи" Path="user">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Должности пользователей" Path="userpost">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор, Отдел закупок">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Работа с закупками" Icon="description">
                                    <RadzenPanelMenuItem Text="Договоры закупок" Path="purchaseagreement">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Закупки" Path="purchase">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор, Отдел продаж">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Работа с заказами" Icon="add_shopping_cart">
                                    <RadzenPanelMenuItem Text="Заказы" Path="order">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Состав заказов" Path="orderproduct">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Статистика продаж" Path="orderstats">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор, Бухгалтер">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Работа бухгалтерии" Icon="credit_card">
                                    <RadzenPanelMenuItem Text="История выплат" Path="salaryhistory">
                                    </RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Text="Статистика изменения бюджета" Path="budgetstats">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="Администратор">
                            <Authorized>
                                <RadzenPanelMenuItem Text="Администрирование" Icon="dns">
                                    <RadzenPanelMenuItem Text="Работа с базой данных" Path="admin">
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView>
                            <Authorized>
                                <RadzenPanelMenuItem Text="Выход из аккаунта" Value="1" Icon="exit_to_app">
                                </RadzenPanelMenuItem>
                            </Authorized>
                        </AuthorizeView>
                    </ChildContent>
                </RadzenPanelMenu>
            </ChildContent>
        </RadzenSidebar>
    </ChildContent>
</RadzenLayout>