@page "/orderstats"


<PageTitle>Статистика продаж</PageTitle>


<AuthorizeView Roles="Администратор, Отдел продаж">
    <Authorized>
        <RadzenHeading Size="H1" Text="Статистика продаж">
        </RadzenHeading>
        <RadzenTemplateForm TItem="DateTime" Submit="@Load">
            <ChildContent Context="data">
                <div style="margin-bottom: 1rem" class="flex-column">
                    <div>
                        <RadzenLabel Text="Дата старта" Component="Date" style="width: 100%">
                        </RadzenLabel>
                    </div>
                    <div>
                        <RadzenDatePicker @bind-Value=@dateFrom DateFormat="d" Class="w-100" />
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="flex-column">
                    <div>
                        <RadzenLabel Text="Дата конца" Component="Date" style="width: 100%">
                        </RadzenLabel>
                    </div>
                    <div>
                        <RadzenDatePicker @bind-Value=@dateTo DateFormat="d" Class="w-100" />
                    </div>
                </div>
                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Составить" ButtonType="ButtonType.Submit">
                </RadzenButton>
            </ChildContent>
        </RadzenTemplateForm>
        <div style="margin-bottom: 1rem" class="flex-column">
            <div>
                <RadzenChart>
                    <RadzenPieSeries Data="@sales" Title="Продажи" CategoryProperty="Name" ValueProperty="SalesCount">
                    </RadzenPieSeries>
                </RadzenChart>
            </div>
            <RadzenLegend Position="LegendPosition.Right">
            </RadzenLegend>
        </div>


    </Authorized>
    <NotAuthorized>
        <RadzenLabel Style="text-align:center" Text="@ConstantValues.ERROR_CLAIMS" />
    </NotAuthorized>
</AuthorizeView>